<div class="container-fluid bg-color">

  <div class="row content home">

    <div class=" home-first">

      <div>
        <h3 style="padding-top: 60px">INTRODUCING
        </h3>

        <h1 style="text-shadow: 4px 3px 10px  white; font-size: 42px"> GRISE Token</h1>
        <div style="height: 70px">
          <div style="padding-top: 20px;color: white" id="text" class="read_delete"></div>
        </div>

        <div class="home-left-part" style="display: grid;">

          <a class="btn btn-info all_button top_button" href="asset/technical-paper.pdf" download>Technical paper</a>
          <a class="btn btn-info all_button top_button" href="https://github.com/" target="_blank">Smart Contract</a>
          <a class="btn btn-info all_button top_button" href="javascript:void(0)" routerLink="/tokeninfo">Tokenomics</a>
        </div>

        <div class="icon-bar">
          <a class="telegram" href="https://telegram.org/" target="_blank"><i class="fab fa-telegram"></i></a>
          <a class="youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
          <a class="twitter" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="raddit" href="https://www.reddit.com/" target="_blank"><i class="fab fa-reddit"></i></a>
          <a class="medium" href="https://medium.com/" target="_blank"><i class="fab fa-medium-m"></i></a>
          <a class="github" href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    



    </div>
    <div class=" video-part">
      <video style="width: 100%;height: inherit" autoplay muted loop>
        <source src="../../assets/video.mp4" type="video/mp4" />
      </video>
      <!-- autoplay muted controls loop  -->
    </div>

  </div>
</div>